<p-card>
  <h1 class="mb-5" *ngIf="course.id === 0; else updateTitle;">Новый курс</h1>
  <ng-template #updateTitle>
    <h1 class="mb-5">Редавтирование курса</h1>
  </ng-template>

  <div class="flex flex-column gap-4 col-6">
    <input
      [(ngModel)]="course.title"
      type="text"
      pInputText
      placeholder="Наименование*"
      class="flex-grow-1"
    />

    <textarea
      [(ngModel)]="course.description"
      rows="5"
      cols="30"
      pInputTextarea
      placeholder="Описание*"
      class="flex-grow-1"
    ></textarea>

    <app-duration-course
      [value]="course.duration"
      (changeValue)="durationChange($event)"
      class="flex-grow-1"
    >
    </app-duration-course>

    <p-calendar
      [(ngModel)]="course.creationData"
      [showIcon]="true"
      placeholder="Дата*"
      class="flex-grow-1"
      styleClass="w-full"
    ></p-calendar>

    <app-authors></app-authors>

    <div class="flex gap-3">
      <p-button
        label="Отмена"
        styleClass="p-button- p-button-text"
        (click)="onCancel()"
      ></p-button>
      <p-button
        label="Сохранить"
        styleClass="p-button"
        (click)="onSave()"
      ></p-button>
    </div>
  </div>
</p-card>
