<p-card>
  <h1 class="mb-5" *ngIf="form.value.id === 0; else updateTitle;">Новый курс</h1>
  <ng-template #updateTitle>
    <h1 class="mb-5">Редавтирование курса</h1>
  </ng-template>
  <form class="flex flex-column gap-4 col-6" [formGroup]="form">
    <div class="p-float-label flex flex-column">
      <input
        id="title"
        type="text"
        pInputText
        class="flex-grow-1"
        formControlName="title"
        width="100%"
      />
      <label for="title">Наименование*</label>
      <div *ngIf="form.controls.title.errors as errors">
        <small
          *ngIf="errors['maxlength'] as maxlength"
          class="text-red-600"
        >Максимальная длина – {{maxlength?.requiredLength}} символов.</small>
      </div>
    </div>

    <div class="p-float-label flex">
      <textarea
        id="description"
        rows="5"
        cols="30"
        pInputTextarea
        placeholder=""
        class="flex-grow-1"
        formControlName="description"
      ></textarea>
      <label for="description">Описание*</label>
    </div>

    <app-duration-course
      formControlName="duration"
      class="flex-grow-1"
    >
    </app-duration-course>

    <div class="p-float-label">
      <p-calendar
        [showIcon]="true"
        id="data"
        class="flex-grow-1"
        styleClass="w-full"
        formControlName="creationData"
        dateFormat="dd/mm/yy"
      ></p-calendar>
      <label for="data">Дата*</label>
    </div>

    <app-authors formControlName="authors"></app-authors>

    <div class="flex gap-3">
      <p-button
        [class]="'button-cancel'"
        label="Отмена"
        styleClass="p-button p-button-text"
        (click)="onCancel()"
      ></p-button>
      <p-button
        [class]="'button-save'"
        label="Сохранить"
        styleClass="p-button"
        [disabled]="form.invalid"
        (click)="onSave()"
      ></p-button>
    </div>
  </form>
</p-card>
