<div class="content-wrap px-3 md:px-7">
  <app-breadcrumbs></app-breadcrumbs>
  <div class="flex justify-content-between align-items-center mb-4">
    <app-search></app-search>
    <p-button
      label="Добавить курс"
      icon="pi pi-plus"
      styleClass="p-button-lg"
    ></p-button>
  </div>
  <div class="flex flex-column gap-5 mb-5">
    <app-course-item
      *ngFor="let course of courses"
      [course]="course"
      (edit)="editCourse($event)"
      (delete)="deleteCourse($event)"
    ></app-course-item>
    <div class="flex justify-content-center">
      <p-button
        class="col-5"
        label="Загрузить еще"
        styleClass="p-button-lg p-button-outlined p-button-secondary w-full"
        (click)="loadMore()"
      ></p-button>
    </div>
  </div>
</div>
